:root {
    --purple-dark: #652cd1;
    --purple-light: #845eee;
    --dark-1: #121826;
    --dark-2: #212936;
    --gray-dark: #394150;
    --gray-mid: #4d5562;
    --gray-light: #a1a1a9;
    --light: #e5e7eb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    background: var(--dark-1);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
    height: 100%;
}

.rad {
    position: absolute;
}
.rad-1 {
    top: -50%;
    left: -20%;
}
.rad-2 {
    bottom: -50%;
    right: -20%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.card {
    width: 30rem;
    background: var(--dark-2);
    border-radius: 1rem;
    padding: 2rem 3rem 2.5rem;
    border: 1px solid var(--gray-mid);
}

.title {
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.8rem 0 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    color: var(--gray-light);
    font-size: 0.75rem;
    font-weight: 500;
}

.input {
    height: 3rem;
    border-radius: 0.7rem;
    background-color: transparent;
    border: 2px solid var(--gray-mid);
    color: var(--gray-light);
    padding: 0 1rem;
    font-size: 0.875rem;
    font-weight: 500;
}
.input::placeholder {
    color: var(--gray-mid);
    font-size: 0.875rem;
    font-weight: 500;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    text-align: center;
    background-image: linear-gradient(
        to top,
        var(--purple-dark),
        var(--purple-light)
    );
    color: var(--light);
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 2.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(
        to bottom,
        var(--purple-dark),
        var(--purple-light)
    );
}

.btn:active {
    background-image: linear-gradient(
        to bottom,
        var(--purple-light),
        var(--purple-dark)
    );
}

.steps-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.steps-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-dark);
}

.steps {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.step {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: var(--gray-dark);
    box-sizing: content-box;
}

.step.filled {
    background: var(--purple-dark);
}

.step.active {
    border: 5px solid var(--gray-dark);
}

.form-second {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.8rem 0 2.5rem;
}

.checkbox-label {
    display: block;
    background: var(--gray-dark);
    color: var(--gray-light);
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: 2px solid var(--gray-mid);
    cursor: pointer;
}

.checkbox {
    display: none;
}

.checkbox:checked + .checkbox-label {
    background: var(--purple-dark);
    color: var(--light);
    border: 2px solid var(--purple-light);
    font-weight: 600;
}

.summary {
    margin-top: 1.5rem;
    color: var(--light);
}

.summary-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.summary-label {
    color: var(--gray-light);
}

.summary-group-topics {
    margin-top: 1rem;
}

.summary-value-list {
    margin-left: 1.8rem;
    margin-bottom: 2.5rem;
}
